<div class="row">
	<div class="span6">
		<ul class="thumbnails">

			<li class="span2 widget">
				<div class="thumbnail" style="background-color: #FCF8E3">
					<div class="widget_caption">Alarm</div>
					<h1 class="alarm_status"><%= (@readings['alarm_armed']['reading']==1 ? 'Armed' : 'Off') %></span></h1>
					<p><small><span class="alarm_status_time time" data-time_format="d/mm @ hh:MM tt"><%=@readings['alarm_armed']['local_time']%></span></small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Inside</div>
					<h1><span class="temperature_inside_reading format" data-format="#.0"><%=@readings['temperature_inside']['reading']%></span>&deg;C</h1>
					<p><small>Today: <span class="temperature_inside_day_min format" data-format="#.0"><%= @inside_day['min'] %></span>&deg;C - <span class="temperature_inside_day_max format" data-format="#.0"><%= @inside_day['max'] %></span>&deg;C</small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Outside</div>
					<h1><span class="temperature_outside_reading format" data-format="#.0"><%=@readings['temperature_outside']['reading']%></span>&deg;C</h1>
					<p><small>Today: <span class="temperature_outside_day_min format" data-format="#.0"><%= @outside_day['min'] %></span>&deg;C - <span class="temperature_outside_day_max format" data-format="#.0"><%= @outside_day['max'] %></span>&deg;C</small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<p>Sunrise: <%= SunTime.new(Time.now.to_date, -33.95283, 18.48056).sunrise.in_time_zone.strftime("%I:%M %p") %></p>
					<p>Sunset: <%= SunTime.new(Time.now.to_date, -33.95283, 18.48056).sunset.in_time_zone.strftime("%I:%M %p") %></p>
				</div>
			</li>
			<li class="span2 widget">
				<div class="thumbnail">
					<p>Pool: <span class="temperature_pool_reading">-</span>&deg;C</p>
					<p>Cellar: <span class="temperature_cellar_reading format" data-format="#.0"><%=@readings['temperature_cellar']['reading']%></span>&deg;C</p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<p>Net: <span class="label <%=@bps_class%>"><span><%=@bps %></span> kBs<sup>-1</sup></span></p>
					<p>QoS: <span class="label <%=@qos_class%>"><span><%=@qos %></span></p>
				</div>
			</li>

			<li class="span6 widget">
				<div class="switches">
					    <div class="btn-toolbar">
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-warning" data-source="electricity_geyser">geyser</button>
						    	<button class="btn btn-mini btn-info" data-source="pool">pool water</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success" data-source="vegetable_patch">vegetable patch</button>
						    	<button class="btn btn-mini btn-success" data-source="outhouse_lawn">outhouse lawn</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success" data-source="driveway">driveway</button>
						    	<button class="btn btn-mini btn-success" data-source="jungle_gym">jungle gym</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success" data-source="front">front garden</button>
						    	<button class="btn btn-mini btn-success" data-source="front_fynbos">front fynbos</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success" data-source="pool_lawn">pool lawn</button>
						    	<button class="btn btn-mini btn-success" data-source="pool_beds">pool beds</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success" data-source="front_misters">ferns</button>
						    	<button class="btn btn-mini btn-success" data-source="pond_ferns">pond ferns</button>
						    </div>
					    </div>
				</div>
			</li>

			<li class="span6 widget">
				<div class="widget_table">
					<table class="table table-striped table-hover table-condensed table-bordered">
						<tbody>
							<% unless @irrigation  %>
								<tr>
									<td colspan=2 style="background-color:#FCF8E3;">
										<b>Irrigation is off.</b>
									</td>
									<td colspan=4 style="background-color:#F9F9F9;">
										<% if @precipitation_3h==0 %>
											No rain is expected in the next three hours.
										<% else %>
											<%= @precipitation_3h %> mm expected in the next three hours.
										<% end %>
									</td>
								</tr>
							<% end %>
							<tr>
								<td>
									<b>- 72 hours</b><br/>
									<%= image_tag(@precipitation_tv_icon) %><%=@precipitation_tv%>&nbsp;mm
								</td>
								<td>
									<b>- 48 hours</b><br/>
									<%= image_tag(@precipitation_tw_icon) %><%=@precipitation_tw%>&nbsp;mm
								</td>
								<td>
									<b>- 24 hours</b><br/>
									<%= image_tag(@precipitation_tx_icon) %><%=@precipitation_tx%>&nbsp;mm
								</td>
								<td>
									<b>+ 24 hours</b><br/>
									<%= image_tag(@precipitation_t0_icon) %>
									<%=@precipitation_t0%>&nbsp;mm
								</td>
								<td>
									<b>+ 48 hours</b><br/><%= image_tag(@precipitation_t1_icon) %>
									<%=@precipitation_t1%>&nbsp;mm</td>
								<td>
									<b>+ 72 hours</b><br/><%= image_tag(@precipitation_t2_icon) %>
									<%=@precipitation_t2%>&nbsp;mm</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>

		</ul>
	</div>
	<div class="span6">
		<ul class="thumbnails">

			<li class="span4 widget">
				<div class="widget_table">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr><td class="widget_caption_cell">Electricity</td><td>Day</td><td>Week</td><td>Month</td></tr>
						</thead>
						<tbody>
							<tr>
									<td>Total</td>
									<td><span id="electricity_total_day" class="format" data-format="#.00"><%=@electricity_total_day%></span>kW</td>
									<td><span id="electricity_total_week" class="format" data-format="#"><%=@electricity_total_week.round %></span>kW</td>
									<td><span id="electricity_total_month" class="format" data-format="#"><%=@electricity_total_month.round %></span>kW</td></tr>
							<tr>
								<td>Pool</td>
								<td><span id="electricity_pool_day" class="format" data-format="#">-</span>%</td>
								<td><span id="electricity_pool_week" class="format" data-format="#">-</span>%</td>
								<td><span id="electricity_pool_month" class="format" data-format="#">-</span>%</td>
							</tr>
							<tr>
								<td>Geyser</td>
								<td><span id="electricity_geyser_day" class="format" data-format="#">-</span>%</td>
								<td><span id="electricity_geyser_week" class="format" data-format="#">-</span>%</td>
								<td><span id="electricity_geyser_month" class="format" data-format="#">-</span>%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Pool 27&deg;</div>
					<h1><small>wk</small> 282<small>l</small></h1>
					<p><small>Day: 17.1l; Month: 876l</small></p>
				</div>
			</li>

			<li class="span6 widget">
				<div class="widget_table">
					<table class="table table-hover table-condensed table-bordered messages" style="margin-bottom: 5px;">
						<thead>
							<tr><td colspan=3>
									<i class="icon-star"></i> |
									<%
										@message_icons.each do |key, value|
											%>
												<i class="<%=value%>" id="<%=key%>"></i>
											<%
										end
									%>
							</td></tr>
						</thead>
						<tbody>
							<%= render :partial => "message", :collection => @messages %>
						</tbody>
					</table>
				</div>

			</li>

			<li class="span6 widget">
				<div class="thumbnail">
					<div class="widget_caption">Murmur</div>
					<p><small><span id="murmur">ola?</span></small></p>
				</div>
			</li>


		</ul>
	</div>
</div>

<% content_for :js_init do %>
	Home.init();
<% end %>

<% content_for :js_end do %>
<% end %>