<div class="row">
	<div class="span6">
		<ul class="thumbnails">

			<li class="span2 widget">
				<div class="thumbnail" style="background-color: #FCF8E3">
					<div class="widget_caption">Alarm</div>
					<h1 class="alarm_status">Armed</span></h1>
					<p><small>@ 11:57PM</small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Inside</div>
					<h1><span class="temperature_inside_reading">-</span>&deg;C</h1>
					<p><small>Today: 17.1&deg;C - 29.0&deg;C</small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Outside</div>
					<h1><span class="temperature_outside_reading">-</span>&deg;C</h1>
					<p><small>Today: 17.1&deg;C - 29.0&deg;C</small></p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<p>Sunrise: 7:07AM</p>
					<p>Sunset: 9:00PM</p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<p>Pool: <span class="temperature_pool_reading">-</span>&deg;C</p>
					<p>Cellar: <span class="temperature_cellar_reading">-</span>&deg;C</p>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<p>Net: <span class="label label-success">245 kbs<sup>-1</sup></span></p>
					<p>QoS: <span class="label label-warning">2.13</span></p>
				</div>
			</li>

			<li class="span6 widget">
				<div>
					    <div class="btn-toolbar">
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-warning">geyser</button>
						    	<button class="btn btn-mini btn-info">pool water</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success">vegetable patch</button>
						    	<button class="btn btn-mini btn-success">driveway</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success">side lawn</button>
						    	<button class="btn btn-mini btn-success">front garden</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success">jungle gym</button>
						    	<button class="btn btn-mini btn-success">pond beds</button>
						    </div>
						    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
						    	<button class="btn btn-mini btn-success">pool lawn</button>
						    	<button class="btn btn-mini btn-success">pool beds</button>
						    </div>
					    </div>
				</div>
			</li>

			<li class="span6 widget">
				<div class="widget_table">
					<table class="table table-striped table-hover table-condensed table-bordered">
						<tbody>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
							<tr><td>Tue</td><td><%= image_tag("weather/01d.png", :alt => "01d") %></td><td>12&deg; - 27&deg;<br/>14mm @ 16%</td><td>35KM SE<br/>35 NW</td></tr>
						</tbody>
					</table>
				</div>
			</li>

		</ul>
	</div>
	<div class="span6">
		<ul class="thumbnails">

			<li class="span4 widget">
				<div class="widget_table">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr><td class="widget_caption_cell">Electricity</td><td>Day</td><td>Week</td><td>Month</td></tr>
						</thead>
						<tbody>
							<tr>
									<td>Total</td>
									<td><span id="electricity_total_day">39</span>kW</td>
									<td><span id="electricity_total_week">640</span>kW</td>
									<td><span id="electricity_total_month">640</span>kW</td></tr>
							<tr>
								<td>Pool</td>
								<td><span id="electricity_pool_day">43</span>%</td>
								<td><span id="electricity_pool_week">51</span>%</td>
								<td><span id="electricity_pool_month">51</span>%</td>
							</tr>
							<tr>
								<td>Geyser</td>
								<td><span id="electricity_geyser_day">17</span>%</td>
								<td><span id="electricity_geyser_week">14</span>%</td>
								<td><span id="electricity_geyser_month">14</span>%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>

			<li class="span2 widget">
				<div class="thumbnail">
					<div class="widget_caption">Pool 27&deg;</div>
					<h1><small>wk</small> 282<small>l</small></h1>
					<p><small>Day: 17.1l; Month: 876l</small></p>
				</div>
			</li>

			<li class="span6 widget">
				<div class="widget_table">
					<table class="table table-striped table-hover table-condensed table-bordered" style="margin-bottom: 5px;">
						<tr><td>1h</td><td>Jungle gym irrigation ran for 15 minutes.</td><td>5:12PM</td></tr>
						<tr><td>2h</td><td>Jungle gym irrigation ran for 15 minutes.</td><td>12:12AM</td></tr>
						<tr><td>1d</td><td>Jungle gym irrigation ran for 15 minutes.</td><td>6/12 @ 11:53AM</td></tr>
						<tr><td>1d</td><td>Jungle gym irrigation ran for 15 minutes.</td><td>6/12 @ 11:53AM</td></tr>
						<tr><td>2d</td><td>Jungle gym irrigation ran for 15 minutes.</td><td>6/12 @ 11:53AM</td></tr>
					</table>
				</div>

				<div class="btn-group"data-toggle="buttons-checkbox">
					<button class="btn btn-mini btn-info">Alarm</button>
					<button class="btn btn-mini btn-info">Watering</button>
					<button class="btn btn-mini btn-info">Access</button>
				</div>
			</li>

			<li class="span6 widget">
				<div class="thumbnail">
					<div class="widget_caption">Murmur</div>
					<p><small><span id="murmur">ola?</span></small></p>
				</div>
			</li>


		</ul>
	</div>
</div>