<div id="Log_Entries">

  <div class="page-header">
    <h1><%=@log_detail['guid'] %> <small>at <span class="time"><%= @log_detail['start_time'].to_i*1000 %></span> UTC</small></h1>
  </div>

  <table class="table table-bordered lead">
  	<tbody>
  		<tr>
  			<td>Start Time&nbsp;</td><td><span class="time" data-time_format='HH:MM:ss'><%= @log_detail['start_time'].to_i*1000 %></span></td>
  		</tr>
  		<tr>
  			<td>End Time</td><td><span class="time" data-time_format='HH:MM:ss'><%= @log_detail['end_time'].to_i*1000 %></span></td>
  		</tr>
  		<tr>
  			<td>Duration</td><td><span><%= @log_detail['duration'].to_i*1000 %></span> seconds</td>
  		</tr>
  		<% if @log_detail['times'] %>
	  		<tr>
	  			<td>User</td><td><span><%= number_with_precision(@log_detail['times']['user']*1000, :precision => 2, :separator => '.', :delimiter => ' ') %></span> ms</td>
	  		</tr>
	  		<tr>
	  			<td>System</td><td><span><%= number_with_precision(@log_detail['times']['system']*1000, :precision => 2, :separator => '.', :delimiter => ' ') %></span> ms</td>
	  		</tr>
	  		<tr>
	  			<td>Clock</td><td><span><%= number_with_precision(@log_detail['times']['elapsed']*1000, :precision => 2, :separator => '.', :delimiter => ' ') %></span> ms</td>
	  		</tr>
  		<% end %>
  	</tbody>
  </table>

  <br/>

  <table id="readings" class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>When?</th>
        <th>What?</th>
        <th>Message</th>
        <th style="text-align: right">ms</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "line", :collection => @log_detail['log_lines'] %>
    </tbody>
  </table>

</div> 
